<div >
    <span>
      <h4 *ngIf=imgfolders>Your Collections</h4> 
      <button routerLink="/collections"> Back</button>
    </span>
  
    <div class="grid grid-pad">
        <a *ngFor="let imgfolder of imgfolders | orderBy: 'rating': true" class="col-1-5"
          (click)="imgFolderDetail(imgfolder.name)" align="center">
          <div class="module imgfolder">
            <h5>{{imgfolder.name}} | {{imgfolder.rating}}</h5>
          </div>
          <button routerLink="/detail/{{imgfolder._id}}/owner">Edit</button>
          <button (click)="deleteImgFolder(imgfolder._id)">Delete</button>
        </a>
    </div>
  </div>
