<nav>
    <button routerLink="/homepage">Home Page</button>
    <button routerLink="/collections"> My Collections</button>
    <button (click)="logOut()">Log Out</button>
</nav>

  <span>
      <h4>Edit Collection</h4> 
  </span>
  
  <div *ngIf='thisfolder' id="contain">
    <h3>{{ thisfolder.owner | uppercase }}'s Collection</h3>
    <span>Private: <input type="checkbox" [(ngModel)]="thisfolder.isPrivate" ></span>
     <div>
       <span>Rating: </span>{{ thisfolder.rating }} 
     </div>
       <label>Name:
         <input [(ngModel)]="thisfolder.name" placeholder="Collection">
        </label>
     
      <div>
        <textarea rows="7" columns="10" [(ngModel)]="thisfolder.descrip" placeholder="Description"></textarea>
        <button (click)="editImgFolder(thisfolder._id, thisfolder.name, thisfolder.descrip, thisfolder.isPrivate)">Submit</button>
      </div>
    <label>Search for Images:<button routerLink='/imgsearch/{{thisfolder._id}}'>Search</button>
    </label>
  </div>

  <div *ngIf='images' align="center">
    <dl *ngFor="let image of images">
      <span>
        <a href="{{image}}">
          <img src="{{image}}">
        </a>
          <button (click)="removeImage(thisfolder._id, image)">Delete</button>
      </span>
    </dl>
  </div>
